@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  height: 100svh;
}
body {
  height: 100svh;
}
